@tailwind base;
@tailwind components;
@tailwind utilities;

/*
If you want to add your own default base styles for specific HTML elements,
use the @layer directive to add those styles to Tailwind’s base layer:
*/
@layer base {

}

/*
Use the components layer for any more complicated classes you want to add to
your project that you’d still like to be able to override with utility classes.

Traditionally these would be classes like card, btn, badge — that kind of thing.
*/
@layer components {

}

/*
Add any of your own custom utility classes to Tailwind’s utilities layer:
*/
@layer utilities {

}
