@import "tailwindcss";

body {
    background: url(images/fantasyMap.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: goldenrod;
    font-size: xx-large;
    font-style: italic;
    text-shadow: 0em 0em 0.3em black, 0em 0em 0.3em black, 0em 0em 0.3em black, 0em 0em 0.3em black;
}
